*package-*.json
[dD]ata*/*
venv/*
*.outData
Frontend/dist/*
Frontend/src/*.js
Frontend/src/environments/*js
Frontend/src/app/*.js
Frontend/src/app/map/*.js
Frontend/src/app/map/mapview/*.js
*.pro.user
*build-PlutoDS-Qt5*
*.idea*
*__pycache__*
PlutoFileProcess/src/MapPlutoResources/*
output/*
PlutoFileProcess/output/*
Frontend/package-lock.json
*.vscode/*
node_modules/
*.dbPluto
Backend/ShapeOutput
Backend/static
ShapeOutput/
*.rar
Backend/build/
Backend/dist/
*.spec
Histogram/
*.7z
*.zip
*.rar

