.vs/
plutovis/
httpdocs/
x64/
[dD]ebug/
[rR]elease/
[dD]ata*/
PlutoVisData*/
enc_temp_folder/
Debug-Qt/

PlutoBackend/GeneratedFiles

# Executable file on windows
PlutoBackend/PlutoBackend

Makefile*
build-PlutoBackend*/

*.user
*.pbd
*.exe
*.exp
*.ilk
*.lib
*.qmake*
*.rar
*.zip
*.7z