svg {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/* parallel coordinates styles */
.selected {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.2px;
}
.unselected {
  fill: none;
  stroke: rgba(132, 132, 132, 0.2);
}